* {
   margin: 0;
   padding: 0;
}

body {
   background: url('./assets/img/bvb.jfif');
   background-size: cover;
   backdrop-filter: blur(5px);
   font: 18px Comic Sans MS, sans-serif;
   color: #fff;
}

.container {
   height: 100vh;
   margin: 0px auto;
   display: flex;
   align-items: center;
}

.phone {
   width: 320px;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   border-radius: 30px;
   border: 5px solid #110d0d;
   background-color: #18212e;
   box-shadow: 0 0 15px #000000;
}

.phone-header {
   margin-top: 10%;
   font-size: 16px;
}

.phone-info {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.image {
   width: 90%;
   height: 90%;
   padding: 40px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: radial-gradient(circle, rgb(98, 107, 110) 1%, rgba(70, 131, 180, 0) 70%);
   animation: gradient 4s infinite alternate;
   transition: all linear;
}

@keyframes gradient {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(1.05);
   }
}

.img {
   width: 70%;
   height: 100%;
   border-radius: 50%;
}

.song {
   font-size: 20px;
   letter-spacing: 1.5px;
}

.artist {
   margin-top: 10px;
   font-size: 12px;
   letter-spacing: 1.5px;
   color: rgba(240, 248, 255, 0.418);
}

.phone-controls {
   margin-top: 15%;
   width: 80%;
   height: 22%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-radius: 15px;
   background-color: #0f0d1b;
}

.controls-audio {
   position: relative;
   width: 80%;
}

.range {
   -webkit-appearance: none;
   appearance: none;
   height: 4px;
   width: 100%;
   margin-top: 30px;
   background: #18212e;
}

.range::-webkit-slider-runnable-track {
   height: 4px;
   background: #353535;
   border-radius: 15px;
}

.range::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   margin-top: -3px;
   height: 10px;
   width: 5px;
   background-color: #55e6ff;
   border-radius: 5px;
}

.actual-time {
   position: absolute;
   left: 0;
   top: 5%;
   color: #969696;
   font-size: 12px;
}

.default-time {
   position: absolute;
   right: 0;
   top: 5%;
   color: #55e5ff77;
   font-size: 12px;
}

.controls-buttons {
   width: 80%;
   display: flex;
   justify-content: space-between;
}
